<div *ngFor="let p of products; let i = index" class="product-container"  [ngStyle]="{'background-color': p.available === 'Available' ? '#D5F5E3' : '#FADBDB' }" >
    
    <div class="image-container" ><img [src]="p.image" alt="" style="max-width: 70px; max-height: 70px;"></div>
    <div class="name-container"><h6>{{p.name}}</h6></div>
    <div class="details-container">
        <div class="details" [ngStyle]="{'color': p.available === 'Available' ? 'Green' : 'Red' }">{{p.available }}</div>
        <div class="details"><b>Price:</b>${{ p.price }}</div>
        <div class="details"><b>Color:</b>{{ p.color }}</div>
    </div>
    <div class="options">
        <button class="btn btn-success">Show Details</button>
        <button class="btn btn-warning" *ngIf="p.available === 'Available'; else notifyme ">Buy Now</button>
        <ng-template #notifyme>
            <button class="btn btn-danger">Notify me</button>
        </ng-template>
    </div>

